---
metadata:
  name: login form
  params:
    action: ''
    method: 'POST'
    redirect_to: '/'
---
{% liquid
  assign action = params.action | default: '/sessions/create'
  assign method = params.method | default: 'POST'
%}

<form action="{{action}}" method="{{method}}">
  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'pos-email'
    assign label_params = '{}' | parse_json | hash_merge: content: 'E-mail'
    assign description_params = '{}' | parse_json | hash_merge: content: 'E-mal address of the user'
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params
    theme_render_rc 'components/molecules/input-with-label', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'pos-password', type: 'password'
    assign label_params = '{}' | parse_json | hash_merge: content: 'Password'
    assign description_params = '{}' | parse_json | hash_merge: content: 'Password'
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params
    theme_render_rc 'components/molecules/input-with-label', params: fieldset_params
  %}

  {% liquid
    assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: 'Login'
    theme_render_rc 'components/atoms/button', params: button_params
  %}
</form>
