---
metadata:
  name: login form
  params:
    action: ''
    method: 'POST'
    redirect_to: '/'
    classes: ''
    errors:
      - field_name: "email"
      - error: "Error message"
    values:
      - field_name: "email"
      - value: "random@example.com"
---
{% liquid
  assign action = action | default: params.action
  assign method = method | default: params.method | default: 'POST'
  assign redirect_to = redirect_to | default: params.redirect_to | default: '/'
  assign footer = footer | default: params.footer
%}

<form action="{{action}}" method="{{method}}" {% if params.classes %}class="{{params.classes}}"{% endif %} data-tc="login-form">
  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'email', required: true, type: 'email', value: params.values.email, classes: "w-full"
    assign label_params = '{}' | parse_json | hash_merge: content: 'E-mail'
    assign description_params = '{}' | parse_json | hash_merge: content: 'E-mail address of the user'
    assign validation = '{}' | parse_json
    if params.errors['email']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = params.errors['email']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'password', type: 'password', required: true, classes: "w-full"
    assign label_params = '{}' | parse_json | hash_merge: content: 'Password'
    assign description_params = '{}' | parse_json | hash_merge: content: 'Password'
    assign validation = '{}' | parse_json
    if params.errors['password']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = params.errors['password']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'authenticity_token', type: 'hidden', value: context.authenticity_token
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'redirect_to', type: 'hidden', value: redirect_to
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% liquid

    assign login = 'modules/user-forms/login' | t
    theme_render_rc 'components/atoms/button', content: login, type: 'submit'
  %}
</form>
