---
metadata:
  name: register form
  params:
    action: '/users/register'
    method: 'POST'
    redirect_to: '/'
    registration_fields: []
    errors:
      - field_name: "email"
      - error: "Error message"
    values:
      - field_name: "email"
      - value: "random@example.com"
---
{% liquid
  assign action = action | default: params.action
  assign method = method | default: params.method | default: 'POST'
  assign errors = errors | default: params.errors
  assign redirect_to = redirect_to | default: params.redirect_to | default: '/'
  assign registration_fields = registration_fields | default: params.registration_fields
%}

<form action="{{action}}" method="{{method}}" data-tc="register-user">
  {% render 'authenticity_token' %}

  {% for field in registration_fields %}
    {% liquid
      assign default_value = values[field.name] | raw_escape_string
      assign error_messages = '[]' | json_parse
      assign has_error = errors[field.name]
      assign validation = null | hash_merge: messages: error_messages
      if has_error
        hash_assign validation['passed'] = false
        hash_assign validation['messages'] = error_messages
      endif
      assign input_params = field | hash_merge: value: default_value, classes: 'w-full'
      assign label_params = null | hash_merge: content: field.label
      assign field_params = null | hash_merge: validation: validation, input_params: input_params, label_params: label_params, classes: 'mb-6'

      theme_render_rc 'components/molecules/formfield', params: field_params
    %}
  {% endfor %}

  {% render 'hcaptcha', object: object %}

  <fieldset class="mt-5">
    {% liquid
      assign label = 'modules/user-forms/register' | t
      theme_render_rc 'components/atoms/button', content: label, type: 'submit'
    %}
  </fieldset>

</form>
