---
metadata:
  name: register form
  params:
    action: '/users/register'
    method: 'POST'
    redirect_to: '/'
    registration_fields: []
    errors:
      - field_name: "email"
      - error: "Error message"
    values:
      - field_name: "email"
      - value: "random@example.com"
---
{% liquid
  assign action = params.action | default: '/users/register'
  assign method = params.method | default: 'POST'
  assign redirect_to = params.redirect_to | default: '/'
  assign registration_fields = params.registration_fields
%}

<form action="{{action}}" method="{{method}}" data-tc="register-user">
  {% render 'authenticity_token' %}

  {% for field in registration_fields %}
    {% liquid
      assign default_value = object[field.name] | raw_escape_string
      assign error_messages = '[]' | json_parse
      assign has_error = object.errors[field.name]
      assign validation = null | hash_merge: messages: error_messages
      if has_error
        hash_assign validation['passed'] = false
        hash_assign validation['messages'] = error_messages
      endif
      assign input_params = field | hash_merge: value: default_value, classes: 'w-full'
      assign label_params = null | hash_merge: content: field.label
      assign field_params = null | hash_merge: validation: validation, input_params: input_params, label_params: label_params, classes: 'mb-6'

      theme_render_rc 'components/molecules/formfield', params: field_params
    %}
  {% endfor %}

  {% render 'hcaptcha', object: object %}

  <fieldset class="mt-5">
    {% liquid
      assign button_label = 'app.users.form.signup' | t
      assign button_params = '{}' | parse_json | hash_merge: weight: 'primary', content: button_label, type: 'submit'
      theme_render_rc 'components/atoms/button', params: button_params
    %}
  </fieldset>

</form>
